{% extends 'layout.html' %}

{% block title %}
Chai aur tweet 2.0
{% endblock title %}


{% block content %}

<h1 class="text-center text-white mt-4">Chai aur tweet</h1>

<p>Chai aur tweet is a simple Django application.</p>

<p>It's a place to post your chai aur tweet.</p>

{% comment %} <p>Feel free to <a href="{% url 'tweet:tweet_new' %}">add</a> a new tweet.</p> {% endcomment %}

<a href="{% url 'tweet_create' %}" class="btn btn-primary">Add a new tweet</a>


<div class="container row gap-3">
    
    {% for tweet in tweets  %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
         {% if tweet.user == user %}
         <a href="{% url 'tweet_update' tweet.id %}" class="btn btn-primary">Update</a>
         <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
         {% endif %}
        </div>
      </div>
    {% endfor %}
        

</div>

{% endblock content %}
